# .env example
ENV=LOCAL
GIN_MODE=debug # Set to "release" for production

GCP_PROJECT_ID=your-gcp-project-id # Your GCP project ID
GCP_REGION=us-central1             # Your GCP region (e.g., us-central1, europe-west1)
GCS_BUCKET_NAME=your-image-catalog-bucket
GCS_BUCKET_LOCATION=US-CENTRAL1 # This is distinct from GCP_REGION for GCS buckets
GCS_STORAGE_CLASS=STANDARD

GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json

PORT=3232
READ_TIMEOUT=15m
WRITE_TIMEOUT=60s
IDLE_TIMEOUT=5m

